body {
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

@media (max-width: 768px) {
    .rating-container,
    .selection-container {
        width: 80%; 
        padding: 1rem;
    }

    .button-container button {
        width: 2rem; 
        height: 2rem;
        margin: 0.5rem;
    }

    .submit-btn {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .rating-container,
    .selection-container {
        width: 90%; 
    }

    .button-container button {
        width: 1.5rem; 
        height: 1.5rem;
    }
}

.rating-container, 
.selection-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    border-radius: 2rem;
    padding: 2rem;
    max-width: 1440px;
    min-width: 320px;
    margin: 2rem auto;
}

.image-icon {
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background-color: rgba(	23, 21, 18, 0.1);
   padding: 1rem;
   margin-right: auto;
   
   
    
}

.image-icon img {
    opacity: 1;
}


.attribution {
    display: none;
}

p {
    font-size: 15px;
    margin-top: auto;
}

h3 {
    color: white;
    margin-right: auto;
    font-size:large;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.button-container button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0rem 1rem 1rem 1rem;
    background-color: rgba(23, 21, 18, 0.2);
    color: hsl(217, 12%, 63%);
    
}

.button-container button:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    font-weight: 600;
}

.button-container button:active {
    background-color: white;
    color: hsl(216, 12%, 8%);
    
}

.submit-btn {
    color: hsl(216, 12%, 8%);
    background-color: hsl(25, 97%, 53%);
    border: none;
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.selection-container .image-container img {
    /* Example styles */
    width: 30%; 
    height: auto; 
    border-radius: 1rem; 
    margin: 0 auto; 
    display: block; 
}

.select {
    color: hsl(25, 97%, 53%);
    background-color:rgba(23, 21, 18, 0.3);
    border-radius: 2rem;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.select h5 {
    color: hsl(25, 97%, 53%);
    opacity: 1;
    text-align: center;

}

.selection-container h3 {
    text-align: center;
}

.selection-container p {
    text-align: center;
}
